# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
*.env
.conda/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Outputs (models, plots, etc.)
outputs/
*.h5

# macOS system files
.DS_Store
